<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AtHomeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AtCorporateTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AtWorkTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AtPartnerTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>storeResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
