<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:28:28</td>   <td>0</td> <td title="&gt;&gt;ExamplePageTest.initialize(java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:20</td>   <td>51897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:40</td>   <td>71337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExamplePageTest.AtHomeTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">AtHomeTest</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="be92ad">  <td>17/03/07 14:29:48</td>   <td>79482</td> <td title="&lt;&lt;ExamplePageTest.close()[pri:0, instance:se.com.WebMachine.Desktop.FunctionalTest.ExamplePageTest@59494225]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1386767190</td>   <td></td> </tr>
</table>
