<h2>Reporter output</h2><table><tr><td>2017/03/07 14:29:06 ............... :::::::::::::::::::::::::::::::::::::::: START TESTING ::::::::::::::::::::::::::::::::</td></tr>
<tr><td>2017/03/07 14:29:06 ............... :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::</td></tr>
<tr><td>2017/03/07 14:29:06 ............... :::::::::::::::::::::::::::::::::::: Starting CHROME Browser ::::::::::::::::::::::::::::::::</td></tr>
<tr><td>2017/03/07 14:29:20 ............... There is 13 links in homepage templates.</td></tr>
<tr><td>2017/03/07 14:29:20 ............... No of AtHome link is: 13.</td></tr>
<tr><td>2017/03/07 14:29:20 ............... ----------------------------------------------------------------------------------------------------------</td></tr>
<tr><td>2017/03/07 14:29:20 ............... -------------------------------------- Starting Test AtHomeTest---------------------------------------------</td></tr>
<tr><td>2017/03/07 14:29:20 ............... ----------------------------------------------------------------------------------------------------------</td></tr>
<tr><td>2017/03/07 14:29:48 ............... ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::</td></tr>
<tr><td>2017/03/07 14:29:48 ............... :::END: HEADER FOOTER TEST FOR WEBMACHINE:::::::::::::::::</td></tr>
<tr><td>2017/03/07 14:29:48 ............... Closing failed!!!!!</td></tr>
</table>