<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WebMachine</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657a99">  <td>17/02/07 11:18:13</td>   <td>0</td> <td title="&gt;&gt;SmokeTest.initialize(java.lang.String)[pri:0, instance:functionalTest.SmokeTest@5702b3b1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1445157774</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/02/07 11:18:49</td>   <td>35307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest.smokeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:functionalTest.SmokeTest@5702b3b1]">smokeTest</td> 
  <td>main@1445157774</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>17/02/07 11:22:51</td>   <td>277917</td> <td title="&lt;&lt;SmokeTest.close()[pri:0, instance:functionalTest.SmokeTest@5702b3b1]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1445157774</td>   <td></td> </tr>
</table>
