<h2>Reporter output</h2><table><tr><td>2017/02/07 11:18:13 ............... :::::::::::::::::::::::::::::::::::: Starting CHROME Browser ::::::::::::::::::::::::::::::::</td></tr>
<tr><td>2017/02/07 11:18:49 ............... ----------------------------------------------------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:18:49 ............... -------------------------------------- Starting Test Smoke TestFranch---------------------------------------------</td></tr>
<tr><td>2017/02/07 11:18:49 ............... ----------------------------------------------------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:18:49 ............... Going to start testing for Franch, Identifier FR/FR, BaseUrl http://www.schneider-electric.fr/fr/</td></tr>
<tr><td>2017/02/07 11:18:54 ............... :::::::::::::::::::::::::::::::::::::::: START TESTING ::::::::::::::::::::::::::::::::</td></tr>
<tr><td>2017/02/07 11:18:54 ............... :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::</td></tr>
<tr><td>2017/02/07 11:18:56 ............... Page Le spécialiste mondial en gestion de l'énergie et en automatisation | Schneider Electric loaded.</td></tr>
<tr><td>2017/02/07 11:18:56 ............... SE logo is visible. Logo validated. logo size is: 32x154</td></tr>
<tr><td>2017/02/07 11:18:58 ............... Global massage in the country selector is: Explore our global offerings or select your country from one of our five regions.</td></tr>
<tr><td>2017/02/07 11:18:58 ............... Global French massage in the country selector is: Découvrez nos offres globales ou sélectionnez votre pays dans l’une de nos cinq régions.</td></tr>
<tr><td>2017/02/07 11:18:58 ............... Country Selector massage is validated. Continue with testing country selector links.</td></tr>
<tr><td>2017/02/07 11:18:58 ............... Asia Pacific is selected from left country list.</td></tr>
<tr><td>2017/02/07 11:18:59 ............... Middle East and Africa is selected from left country list.</td></tr>
<tr><td>2017/02/07 11:18:59 ............... Europe is selected from left country list.</td></tr>
<tr><td>2017/02/07 11:18:59 ............... North America is selected from left country list.</td></tr>
<tr><td>2017/02/07 11:18:59 ............... Latin America is selected from left country list.</td></tr>
<tr><td>2017/02/07 11:19:00 ............... Country name is visible. Country name is: FR/FR, Expected FR/FR</td></tr>
<tr><td>2017/02/07 11:19:00 ............... Country Name validated.</td></tr>
<tr><td>2017/02/07 11:19:26 ............... This site contains new versions of google statistical analysis perameter value for var xtsite. Value is: 335317</td></tr>
<tr><td>2017/02/07 11:19:26 ............... This site contains new versions of google statistical analysis perameter value for var xtsd. Value is: http://logi5</td></tr>
<tr><td>2017/02/07 11:19:26 ............... This site contains new versions of google statistical analysis perameter value for var gasiteID. Value is: @UA-8189219-25|GTM-K2SZ36</td></tr>
<tr><td>2017/02/07 11:19:26 ............... Site state idenntifier contains 6 digits. identifier is: 335317</td></tr>
<tr><td>2017/02/07 11:19:26 ............... Site state contsains all numbers.</td></tr>
<tr><td>2017/02/07 11:19:26 ............... XTsite perameter is been varrified</td></tr>
<tr><td>2017/02/07 11:19:26 ............... XTSD perameter is been varrified</td></tr>
<tr><td>2017/02/07 11:19:26 ............... Gsite perameter is been varrified</td></tr>
<tr><td>2017/02/07 11:19:26 ............... Header is positioned properly in the page.</td></tr>
<tr><td>2017/02/07 11:19:26 ............... This page contains New Header. Continue with Test</td></tr>
<tr><td>2017/02/07 11:19:47 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:47 ............... PRODUITS is selected from green header</td></tr>
<tr><td>2017/02/07 11:19:47 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:47 ............... No of level 2 links visible under PRODUITS is:7</td></tr>
<tr><td>2017/02/07 11:19:47 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:49 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:49 ............... SOLUTIONS is selected from green header</td></tr>
<tr><td>2017/02/07 11:19:49 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:49 ............... No of level 2 links visible under SOLUTIONS is:8</td></tr>
<tr><td>2017/02/07 11:19:49 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:51 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:51 ............... SERVICES is selected from green header</td></tr>
<tr><td>2017/02/07 11:19:51 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:51 ............... No of level 2 links visible under SERVICES is:4</td></tr>
<tr><td>2017/02/07 11:19:51 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:54 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:54 ............... ASSISTANCE is selected from green header</td></tr>
<tr><td>2017/02/07 11:19:54 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:54 ............... No of level 2 links visible under ASSISTANCE is:4</td></tr>
<tr><td>2017/02/07 11:19:54 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:56 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:56 ............... SOCIÉTÉ is selected from green header</td></tr>
<tr><td>2017/02/07 11:19:56 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:56 ............... No of level 2 links visible under SOCIÉTÉ is:5</td></tr>
<tr><td>2017/02/07 11:19:56 ............... --------------------------------------------------------------</td></tr>
<tr><td>2017/02/07 11:19:57 ............... Header test PASSED.</td></tr>
<tr><td>2017/02/07 11:19:57 ............... Footer is properly positioned in the page.</td></tr>
<tr><td>2017/02/07 11:20:37 ............... Email subscribtion visible in the page.</td></tr>
<tr><td>2017/02/07 11:20:37 ............... The size of lifeIsOn logo on footer size is: 42x132</td></tr>
<tr><td>2017/02/07 11:20:37 ............... Footer link name is: Particuliers</td></tr>
<tr><td>2017/02/07 11:20:37 ............... Link is: http://www.schneider-electric.fr/fr/home/</td></tr>
<tr><td>2017/02/07 11:20:37 ............... Footer link name is: Professionnels</td></tr>
<tr><td>2017/02/07 11:20:37 ............... Link is: http://www.schneider-electric.fr/fr/work/</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Espace client</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/partners/</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Documentation et catalogues</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/work/support/catalogues-brochures/</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Fichiers CAD /CAO</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/support/cad-drawings.jsp</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Logiciels et configurateurs</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/work/support/software/</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Normes</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/work/support/reglementation/</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Formation</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/work/services/formation-et-didactique.jsp</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Questions fréquentes (FAQ)</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/faqs/home/</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: MySE</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/webmarketing/distribution/my-se.jsp</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Life Is On</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/work/campaign/life-is-on/life-is-on.jsp</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Changements climatiques</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/work/campaign/climate-change/overview.jsp</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Innovation</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://innovation.schneider-electric.fr/fr_fr/</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Assistance technique</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/faqs/home/</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Assistance logistique</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/work/support/contact/renseignement-commercial-logistique.jsp</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Assistance commerciale</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/fr/work/support/customer-care/contact-sales.jsp</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Trouver un distributeur</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/sites/france/fr/support/support-commercial/trouver-un-distributeur-france.page</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Agences commerciales</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/sites/france/fr/support/support-commercial/trouver-une-agence-commerciale-Schneider.page</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Presse</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://www.schneider-electric.fr/sites/france/fr/societe/presse/contact/contacter-notre-relation-presse-pro.page</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer link name is: Blogs</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Link is: http://blog.schneider-electric.fr/</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Footer test PASSED.</td></tr>
<tr><td>2017/02/07 11:20:38 ............... Total number or Social Media links present is the page is: 8</td></tr>
<tr><td>2017/02/07 11:20:59 ............... Green Footer is visible at the bottom of this page.</td></tr>
<tr><td>2017/02/07 11:21:00 ............... Green Footer test PASSED.</td></tr>
<tr><td>2017/02/07 11:21:03 ............... Start Reading postion of sticky bar</td></tr>
<tr><td>2017/02/07 11:21:09 ............... End reading position of Sticky Bar.</td></tr>
<tr><td>2017/02/07 11:21:09 ............... Max Position is: 1484. Min Position is: 1474. Difference is: 10.</td></tr>
<tr><td>2017/02/07 11:21:09 ............... Sticky Bar Bounce functionality test PASSED.</td></tr>
<tr><td>2017/02/07 11:21:09 ............... Start Testing flying functionality of Sticky Bar.</td></tr>
<tr><td>2017/02/07 11:21:16 ............... Position of Contact Sales before scroll is 489 and after is 1487.</td></tr>
<tr><td>2017/02/07 11:21:16 ............... Sticky Bar scroll test PASSED</td></tr>
<tr><td>2017/02/07 11:21:46 ............... Cerasol Visible in the page. Going to Start Testing Cerasel</td></tr>
<tr><td>2017/02/07 11:21:46 ............... Cerasel number matches. Continue with test.</td></tr>
<tr><td>2017/02/07 11:21:46 ............... Cerasel No 1 is validated.</td></tr>
<tr><td>2017/02/07 11:21:46 ............... Cerasel No 2 is validated.</td></tr>
<tr><td>2017/02/07 11:21:46 ............... Cerasel No 3 is validated.</td></tr>
<tr><td>2017/02/07 11:21:47 ............... Cerasel No 4 is validated.</td></tr>
<tr><td>2017/02/07 11:21:48 ............... Cerasel No 5 is validated.</td></tr>
<tr><td>2017/02/07 11:21:48 ............... Cerasel No 6 is validated.</td></tr>
<tr><td>2017/02/07 11:21:49 ............... Cerasel No 7 is validated.</td></tr>
<tr><td>2017/02/07 11:21:49 ............... Cerasel Test PASSED.</td></tr>
<tr><td>2017/02/07 11:21:49 ............... Tiles are availabe in this page. Continue with testing tiles components</td></tr>
<tr><td>2017/02/07 11:21:49 ............... Page contains 6 tiles.</td></tr>
<tr><td>2017/02/07 11:21:49 ............... Tiles Test PASSED</td></tr>
<tr><td>2017/02/07 11:21:49 ............... Start right rail test.</td></tr>
<tr><td>2017/02/07 11:21:49 ............... Right Rail is available in the page. Continue testing</td></tr>
<tr><td>2017/02/07 11:21:49 ............... ---------------------------------------------------------
Starting 1 no rail test.</td></tr>
<tr><td>2017/02/07 11:21:50 ............... Sub Rail no 1 test complete. PASSED</td></tr>
<tr><td>2017/02/07 11:21:50 ............... Sub Rail no 2 test complete. PASSED</td></tr>
<tr><td>2017/02/07 11:21:50 ............... Sub Rail no 3 test complete. PASSED</td></tr>
<tr><td>2017/02/07 11:21:50 ............... Sub Rail no 4 test complete. PASSED</td></tr>
<tr><td>2017/02/07 11:21:50 ............... RightRail PASSED.</td></tr>
<tr><td>2017/02/07 11:22:30 ............... There is no Editorial box in this page. Continue testing.</td></tr>
<tr><td>2017/02/07 11:22:40 ............... In 'At-Home' page. Continue with test.</td></tr>
<tr><td>2017/02/07 11:22:51 ............... Exception triggered. org.openqa.selenium.NoSuchWindowException: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=55.0.2883.87)
  (Driver info: chromedriver=2.24.417431 (9aea000394714d2fbb20850021f6204f2256b9cf),platform=Windows NT 6.1.7601 SP1 x86_64) (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 9 milliseconds
Build info: version: '3.0.1', revision: '1969d75', time: '2016-10-18 09:49:13 -0700'
System info: host: 'W7USR90BF8N9L', ip: '10.218.68.109', os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_31'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities [{applicationCacheEnabled=false, rotatable=false, mobileEmulationEnabled=false, networkConnectionEnabled=false, chrome={chromedriverVersion=2.24.417431 (9aea000394714d2fbb20850021f6204f2256b9cf), userDataDir=C:\Users\SESA39~1\AppData\Local\Temp\scoped_dir11868_26073}, takesHeapSnapshot=true, pageLoadStrategy=normal, databaseEnabled=false, handlesAlerts=true, hasTouchScreen=false, version=55.0.2883.87, platform=XP, browserConnectionEnabled=false, nativeEvents=true, acceptSslCerts=true, locationContextEnabled=true, webStorageEnabled=true, browserName=chrome, takesScreenshot=true, javascriptEnabled=true, cssSelectorsEnabled=true}]
Session ID: d8af4643e397a4564447383481e4f435</td></tr>
<tr><td>2017/02/07 11:22:51 ............... ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::</td></tr>
<tr><td>2017/02/07 11:22:51 ............... :::END: HEADER FOOTER TEST FOR WEBMACHINE:::::::::::::::::</td></tr>
<tr><td>2017/02/07 11:22:53 ............... Closing failed!!!!!</td></tr>
</table>