<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b5a8">  <td>16/09/06 11:38:14</td>   <td>0</td> <td title="&lt;&lt;ExamplePageTest.close()[pri:0, instance:functionalTest.ExamplePageTest@4bec1f0c]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
<tr bgcolor="83b5a8">  <td>16/09/06 11:38:14</td>   <td>-225</td> <td title="&gt;&gt;ExamplePageTest.initialize(java.lang.String)[pri:0, instance:functionalTest.ExamplePageTest@4bec1f0c]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@909295153</td>   <td></td> </tr>
</table>
