<h2>Reporter output</h2><table><tr><td>2016/09/06 11:38:14 ............... ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::</td></tr>
<tr><td>2016/09/06 11:38:14 ............... :::END: HEADER FOOTER TEST FOR WEBMACHINE:::::::::::::::::</td></tr>
<tr><td>2016/09/06 11:38:14 ............... Closing failed!!!!!</td></tr>
</table>